<div id="<%= dom_id history_car %>">
  <p>
    <strong>Car:</strong>
    <%= history_car.car_id %>
  </p>

  <p>
    <strong>Vin:</strong>
    <%= history_car.vin %>
  </p>

  <p>
    <strong>Registration number:</strong>
    <%= history_car.registration_number %>
  </p>

  <p>
    <strong>Last mileage:</strong>
    <%= history_car.last_mileage %>
  </p>

  <p>
    <strong>Registration restrictions:</strong>
    <%= history_car.registration_restrictions %>
  </p>

  <p>
    <strong>Wanted status:</strong>
    <%= history_car.wanted_status %>
  </p>

  <p>
    <strong>Pledge status:</strong>
    <%= history_car.pledge_status %>
  </p>

  <p>
    <strong>Previous owners:</strong>
    <%= history_car.previous_owners %>
  </p>

  <p>
    <strong>Accidents found:</strong>
    <%= history_car.accidents_found %>
  </p>

  <p>
    <strong>Repair estimates found:</strong>
    <%= history_car.repair_estimates_found %>
  </p>

  <p>
    <strong>Taxi usage:</strong>
    <%= history_car.taxi_usage %>
  </p>

  <p>
    <strong>Carsharing usage:</strong>
    <%= history_car.carsharing_usage %>
  </p>

  <p>
    <strong>Diagnostics found:</strong>
    <%= history_car.diagnostics_found %>
  </p>

  <p>
    <strong>Technical inspection found:</strong>
    <%= history_car.technical_inspection_found %>
  </p>

  <p>
    <strong>Imported:</strong>
    <%= history_car.imported %>
  </p>

  <p>
    <strong>Insurance found:</strong>
    <%= history_car.insurance_found %>
  </p>

  <p>
    <strong>Recall campaigns found:</strong>
    <%= history_car.recall_campaigns_found %>
  </p>

</div>
