<div id="<%= dom_id car_catalog_order %>">
  <p>
    <strong>Order status:</strong>
    <%= car_catalog_order.order_status_id %>
  </p>

  <p>
    <strong>Car catalog:</strong>
    <%= car_catalog_order.car_catalog %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= car_catalog_order.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= car_catalog_order.phone %>
  </p>

</div>
