<div id="<%= dom_id exchange %>">
  <p>
    <strong>Car:</strong>
    <%= exchange.car_id %>
  </p>

  <p>
    <strong>Customer car:</strong>
    <%= exchange.customer_car %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= exchange.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= exchange.phone %>
  </p>

  <p>
    <strong>Credit term:</strong>
    <%= exchange.credit_term %>
  </p>

  <p>
    <strong>Initial contribution:</strong>
    <%= exchange.initial_contribution %>
  </p>

</div>
