<div id="<%= dom_id call_request %>">
  <p>
    <strong>Car:</strong>
    <%= call_request.car_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= call_request.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= call_request.phone %>
  </p>

  <p>
    <strong>Preferred time:</strong>
    <%= call_request.preferred_time %>
  </p>

</div>
