<p style="color: green"><%= notice %></p>

<%= render @call_request %>

<div>
  <%= link_to "Edit this call request", edit_call_request_path(@call_request) %> |
  <%= link_to "Back to call requests", call_requests_path %>

  <%= button_to "Destroy this call request", @call_request, method: :delete %>
</div>
