<%= form_with(model: engine_power_type) do |form| %>
  <% if engine_power_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(engine_power_type.errors.count, "error") %> prohibited this engine_power_type from being saved:</h2>

      <ul>
        <% engine_power_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :power, style: "display: block" %>
    <%= form.number_field :power %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
