<div id="<%= dom_id car_catalog_configuration %>">
  <p>
    <strong>Car catalog:</strong>
    <%= car_catalog_configuration.car_catalog_id %>
  </p>

  <p>
    <strong>Package group:</strong>
    <%= car_catalog_configuration.package_group %>
  </p>

  <p>
    <strong>Package name:</strong>
    <%= car_catalog_configuration.package_name %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= car_catalog_configuration.volume %>
  </p>

  <p>
    <strong>Transmission:</strong>
    <%= car_catalog_configuration.transmission %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= car_catalog_configuration.power %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= car_catalog_configuration.price %>
  </p>

  <p>
    <strong>Credit discount:</strong>
    <%= car_catalog_configuration.credit_discount %>
  </p>

  <p>
    <strong>Trade in discount:</strong>
    <%= car_catalog_configuration.trade_in_discount %>
  </p>

  <p>
    <strong>Recycling discount:</strong>
    <%= car_catalog_configuration.recycling_discount %>
  </p>

  <p>
    <strong>Special price:</strong>
    <%= car_catalog_configuration.special_price %>
  </p>

</div>
