<div id="<%= dom_id car_catalog_engine %>">
  <p>
    <strong>Car catalog:</strong>
    <%= car_catalog_engine.car_catalog_id %>
  </p>

  <p>
    <strong>Torque:</strong>
    <%= car_catalog_engine.torque %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= car_catalog_engine.power %>
  </p>

  <p>
    <strong>Cylinders:</strong>
    <%= car_catalog_engine.cylinders %>
  </p>

  <p>
    <strong>Engine volume:</strong>
    <%= car_catalog_engine.engine_volume %>
  </p>

  <p>
    <strong>Fuel type:</strong>
    <%= car_catalog_engine.fuel_type %>
  </p>

  <p>
    <strong>Engine type:</strong>
    <%= car_catalog_engine.engine_type %>
  </p>

</div>
