<div id="<%= dom_id car_catalog_texno %>">
  <p>
    <strong>Image:</strong>
    <%= car_catalog_texno.image %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= car_catalog_texno.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= car_catalog_texno.height %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= car_catalog_texno.length %>
  </p>

</div>
