<%= form_with(model: car_catalog_texno) do |form| %>
  <% if car_catalog_texno.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(car_catalog_texno.errors.count, "error") %> prohibited this car_catalog_texno from being saved:</h2>

      <ul>
        <% car_catalog_texno.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :width, style: "display: block" %>
    <%= form.number_field :width %>
  </div>

  <div>
    <%= form.label :height, style: "display: block" %>
    <%= form.number_field :height %>
  </div>

  <div>
    <%= form.label :length, style: "display: block" %>
    <%= form.number_field :length %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
