<%= form_with(model: program) do |form| %>
  <% if program.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
        <% program.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :bank_id, style: "display: block" %>
    <%= form.number_field :bank_id %>
  </div>

  <div>
    <%= form.label :program_name, style: "display: block" %>
    <%= form.text_field :program_name %>
  </div>

  <div>
    <%= form.label :interest_rate, style: "display: block" %>
    <%= form.text_field :interest_rate %>
  </div>

  <div>
    <%= form.label :max_term, style: "display: block" %>
    <%= form.number_field :max_term %>
  </div>

  <div>
    <%= form.label :max_amount, style: "display: block" %>
    <%= form.text_field :max_amount %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
