<div id="<%= dom_id program %>">
  <p>
    <strong>Bank:</strong>
    <%= program.bank_id %>
  </p>

  <p>
    <strong>Program name:</strong>
    <%= program.program_name %>
  </p>

  <p>
    <strong>Interest rate:</strong>
    <%= program.interest_rate %>
  </p>

  <p>
    <strong>Max term:</strong>
    <%= program.max_term %>
  </p>

  <p>
    <strong>Max amount:</strong>
    <%= program.max_amount %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= program.created_at %>
  </p>

</div>
