<div id="<%= dom_id installment %>">
  <p>
    <strong>Car:</strong>
    <%= installment.car_id %>
  </p>


  <p>
    <strong>Name:</strong>
    <%= installment.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= installment.phone %>
  </p>

  <p>
    <strong>Credit term:</strong>
    <%= installment.credit_term %>
  </p>

  <p>
    <strong>Initial contribution:</strong>
    <%= installment.initial_contribution %>
  </p>

</div>
