<div id="<%= dom_id generation %>">
  <p>
    <strong>Model:</strong>
    <%= generation.model_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= generation.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= generation.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= generation.end_date %>
  </p>

  <p>
    <strong>Modernization:</strong>
    <%= generation.modernization %>
  </p>

</div>
