<p style="color: green"><%= notice %></p>

<%= render @generation %>

<div>
  <%= link_to "Edit this generation", edit_generation_path(@generation) %> |
  <%= link_to "Back to generations", generations_path %>

  <%= button_to "Destroy this generation", @generation, method: :delete %>
</div>
