<div id="<%= dom_id contact %>">
  <p>
    <strong>Phone:</strong>
    <%= contact.phone %>
  </p>

  <p>
    <strong>Mode operation:</strong>
    <%= contact.mode_operation %>
  </p>

  <p>
    <strong>Auto address:</strong>
    <%= contact.auto_address %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= contact.status %>
  </p>

</div>
