<div id="<%= dom_id car_catalog %>">
  <p>
    <strong>Brand:</strong>
    <%= car_catalog.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= car_catalog.model %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= car_catalog.power %>
  </p>

  <p>
    <strong>Acceleration:</strong>
    <%= car_catalog.acceleration %>
  </p>

  <p>
    <strong>Consumption:</strong>
    <%= car_catalog.consumption %>
  </p>

  <p>
    <strong>Max speed:</strong>
    <%= car_catalog.max_speed %>
  </p>

</div>
