<div id="<%= dom_id car_color %>">
  <p>
    <strong>Carcatalog:</strong>
    <%= car_color.carcatalog_id %>
  </p>

  <p>
    <strong>Background:</strong>
    <%= car_color.background %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= car_color.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= car_color.image %>
  </p>

</div>
