<div id="<%= dom_id credit %>">
  <p>
    <strong>Car:</strong>
    <%= credit.car_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= credit.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= credit.phone %>
  </p>

  <p>
    <strong>Credit term:</strong>
    <%= credit.credit_term %>
  </p>

  <p>
    <strong>Initial contribution:</strong>
    <%= credit.initial_contribution %>
  </p>

  <p>
    <strong>Banks:</strong>
    <%= credit.banks_id %>
  </p>

  <p>
    <strong>Programs:</strong>
    <%= credit.programs_id %>
  </p>

</div>
