<div id="<%= dom_id buyout %>">
  <p>
    <strong>Name:</strong>
    <%= buyout.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= buyout.phone %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= buyout.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= buyout.model %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= buyout.year %>
  </p>

  <p>
    <strong>Mileage:</strong>
    <%= buyout.mileage %>
  </p>

</div>
