<div id="<%= dom_id image %>">
  <p>
    <strong>Car:</strong>
    <%= image.car_id %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= image.url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= image.description %>
  </p>

  <p>
    <strong>Is primary:</strong>
    <%= image.is_primary %>
  </p>

</div>
